:root{
    --fondo: linear-gradient(0deg, #C4C7E5, 70%, #212B88);
}

*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(235, 223, 223);
}

nav{
    background: var(--fondo);
}

.nav{
    z-index: 100 !important;
}

.active, .active-hamburguer{
    color: #992424;
    cursor:none;
    padding-bottom: 3px;
}

.active{
    border-bottom: 2px solid white;
}

.active:hover{
    color: #992424 !important;
    border-bottom: 2px solid white;
}

.active-hamburguer:hover{
    color: #992424 !important;
}

.ul-menu li:hover{
    border-bottom: 2px solid white;
}

.btn-down{
    width: 150px;
    padding: 5px;
    background: linear-gradient( #C4C7E5, #212B88);;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-down:hover{
    background: linear-gradient(#212B88, #C4C7E5);
    transition: 2s;
}

.art_profile{
    color:#992424;
    text-shadow: 50px solid black;
}

.footer_flecha{
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circl_flecha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0b3ca;
}

.circl_flecha:hover{
    background-color: #212B88;
    color:white;
    cursor: pointer;
}

.footer{
    margin-top: 10px;
    background: var(--fondo);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer_ing{
    margin-top: 80px;
}

.hr{
    width: 80%;
    height: 5px;
    margin: 10px auto;
    background-color: #b0b3ca;
}